.Dashboard {
    background: #7F00FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px 20px 10px;
    overflow: hidden;
}

.DashboardHeading {
    color: #fff;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 2px;
    
}

.DashboardHeadingHeading {
    display: inline-block;
    animation: toRight 1s ;
}

.DashboardHeadingSpan {
    display: inline-block;
    animation: toLeft 1s ;
}

@keyframes toRight {
    0% {
        transform: translateY(-100px);
    }
    
    100% {
        transform: translateY(0);
    }
}

@keyframes toLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.Dashboard:hover {
    background: linear-gradient(to right, #E100FF, #7F00FF);
}