.NavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}

.LogoDiv {
    
}

.Logo {
    width: 100px;
    height: 100px;
}

.LinkDiv {
    
}

.Link {
    font-size: 16px;
    font-weight: 700;
    color: #A21FDB;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 10px 50px 10px;
    
}

.Active {
    border-bottom: 2px solid #A21FDB;
}