.Container {
    margin-top: 100px;
}

.DataContainer {
    font-size: 18px;
    margin: 20px 5px 20px 5px;
    padding: 5px;
}

.HeadingCorona {
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
}

.para {
    text-align: justify;
    margin: 20px;
}

.Ul {
    margin: 20px;
}